.svn/
*.pyc
*.pyo
.DS_Store
Thumbs.db
*.sw*
*.lock
*~
*.tmp
*.bak
access.log
error.log
*.pid
local_settings.py
.pid
.fseventsd/
.Trashes/

build
dist
._*
*.egg-info
celerybeat-schedule.db
.coverage

media/admin

*.xcworkspace
*.xcworkspacedata
*.xcuserstate
*.xcscheme
xcschememanagement.plist
DerivedData/
xcuserdata/
